<html>
    <head>
        <title>api-techbrowser</title>
    </head>
    <body>
        <a href="http://api-techbrowser.appspot.com/">http://api-techbrowser.appspot.com/</a> <br />
        <a href="http://github.com/outbounder/api-techbrowser">http://github.com/outbounder/api-techbrowser</a> <br />
        <a href="http://outbounder.github.com/simpleui-techbrowser/www/index.html">http://outbounder.github.com/simpleui-techbrowser/www/index.html</a> <br />
        <a href="http://github.com/outbounder/simpleui-techbrowser">http://github.com/outbounder/simpleui-techbrowser</a>
    </body>
</html>