<html>
    <head>
        <title>My Blog</title>
    </head>
    <body>
        <div id="nonFooter">
            <div id="content">
                <div id="header">
                    <span class="main_header">My Blog</span>
                    <br/>
                    <span class="sub_header">in which I write about random things</span>
                </div>
                <div class="body">blog stuff goes here</div>
            </div>
        </div>
        <div id="footer">
            <a href="/home/index">home</a> |
            <span class="email_address">myaddress@contactmeifyouwantto.com</span> |
            <a href="/about">about</a>
        </div>
    </body>
</html>